.flexbox {
    display: flex;
    border: 2px solid black;
    padding: 20px;
}

.item {
    border: 2px solid gray;
    padding: 20px; 
}

#box1 {
    justify-content: space-evenly;    
    background: darkred;
}
 
#box2, #box3, #box4 {
    justify-content: center;
    background: lightgray;
}

#box3{
    background: crimson
}

#innerbox4 {
    background: pink
}
