@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
body{
    font-family: comic relief;
    
}


.flexbox {
    display: flex;

    padding: 20px;
}

.item {

    padding: 20px; 
}

#box1 {
    justify-content: space-evenly;    
    background: darkred;
    color: 
}
 
#box2, #box3, #box4 {
    justify-content: center;
    background: lightgray;
}

#box3{
    background: darkred
}

#innerbox4 {
    background: lightgray


h1{
    font-c
}