@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
body{
    font-family: comic relief;
    
}


.flexbox {
    display: flex;

    padding: 20px;
}

.item {

    padding: 20px; 
}

#box1 {
    justify-content: space-evenly;    
    background: #d00000;
    color: 
}
 
#box2, #box3, #box4 {
    justify-content: center;
}

#box2{
    background: #dc2f02;
}

#box3{
    background: #e85d04;
}

#box4{
    background: #f48c06;
}

#innerbox4 {
    background: #faa307
}

